cffi==1.6.0
ChatterBot==0.5.5
click==6.6
coreapi==2.1.1
cryptography==1.4
Cython==0.25.2
decorator==4.0.10
Django==1.10.4
django-filter==1.0.1
django-rest-swagger==2.1.0
djangorestframework==3.5.3
docutils==0.12
drfdocs==0.0.11
enum34==1.1.6
Flask==0.11.1
future==0.16.0
googleads==4.7.0
httplib2==0.9.2
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
itypes==1.1.0
Jinja2==2.8
jsondatabase==0.1.7
line-bot-sdk==1.1.0
Markdown==2.6.7
MarkupSafe==0.23
mod-wsgi==4.5.13
mod-wsgi-httpd==2.4.23.2
nltk==3.2.2
oauth2client==1.5.2
oauthlib==2.0.1
openapi-codec==1.2.1
paramiko==2.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pymongo==3.4.0
PySocks==1.6.1
python-twitter==3.2.1
pytz==2016.7
PyYAML==3.12
requests==2.10.0
requests-oauthlib==0.8.0
robotframework==3.0
robotframework-databaselibrary==0.6
robotframework-requests==0.4.5
robotframework-selenium2library==1.7.4
robotframework-sshlibrary==2.1.2
rsa==3.4.2
selenium==2.53.2
setupfiles
simplejson==3.10.0
six==1.10.0
suds-jurko==0.6
uritemplate==3.0.0
Werkzeug==0.11.11
whitenoise==3.3.0
xmltodict==0.10.2
